@use '../mixin';

// ?ini adalah style untuk container yang dibuat secara terpisah
.container {
    @include mixin.flexbox(column, space-evenly);
    width: 600px;
    height: 400px;
    background-color: #eaeaea;

    .box {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background-color: lightblue;
    }

}