body {
    background-image: url(moroccan-flower.png);
}

/* RGBa */
.satu {
    width: 300px;
    height: 300px;
    /* background-color: orangered; */
    background-color: rgb(150, 10, 222,0.2);
}

.dua {
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* HSLa */
.tiga {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    /* background-color: orangered; */
    background-color: hsla(34, 100%, 68%, 0.5);
}

.empat {
    width: 200px;
    height: 200px;
    background-color: red;
}