* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* container */
.container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: minmax(200px , 300px) 1fr 1fr;
    grid-template-rows: repeat(3 , 100px);
}

.container .items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.container .my-items {
    /* grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; */

    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2; */

    grid-column-start: -1;
    grid-column-end: -3;
    grid-row-start: -1;
    grid-row-end: -3;

    background-color: aquamarine;
}

/* container-dua */
.container-dua {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: minmax(200px , 300px) 1fr 1fr;
    grid-template-rows: repeat(3 , 100px);
}

.container-dua .items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.container-dua .my-items {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-column: 2 / 4;
    grid-row: 2 / 4; */

    /* grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2; */

    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    /* grid-column-start: -1;
    grid-column-end: -3;
    grid-row-start: -1;
    grid-row-end: -3; */

    background-color: rgb(255, 127, 202);
}

/* container-tiga */
.container-tiga {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer';
}

.container-tiga .items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container-tiga .header {
    grid-area: header;
    background-color: rgb(33, 231, 59);
}

.container-tiga .sidebar {
    grid-area: sidebar;
    background-color: rgb(24, 44, 228);
}

.container-tiga .content {
    grid-area: content;
    background-color: rgb(214, 27, 27);
}

.container-tiga .footer {
    grid-area: footer;
    background-color: #333;
}

/* container-empat */
.container-empat {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: minmax(200px , 300px) 1fr 1fr;
    grid-template-rows: repeat(3 , 100px);
}

.container-empat .items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.container-empat .my-items {
    width: 150px;
    justify-self: center;
    /* justify-self: start; */
    /* justify-self: end; */
    /* justify-self: stretch; */

    background-color: rgb(255, 204, 127);
}

/* container-lima */
.container-lima {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: minmax(200px , 300px) 1fr 1fr;
    grid-template-rows: repeat(3 , 100px);
}

.container-lima .items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.container-lima .my-items {
    width: 150px;
    height: 50px;
    align-self: center;
    /* align-self: start; */
    /* align-self: end; */

    background-color: rgb(255, 50, 50);
}

/* container-enam */
.container-enam {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: minmax(200px , 300px) 1fr 1fr;
    grid-template-rows: repeat(3 , 100px);
}

.container-enam .items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 150px;
    height: 50px;
    place-self: start center;

    background-color: rgb(234, 255, 50);
}