html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style CSS */
body {
    font-family: poppins, sans-serif;
    font-size: 16px;
    line-height: 28px;
    background-color: rgb(218, 218, 218);
    background-image: url(img/repeated-square.png);
    color: rgb(54, 54, 54);
}

.topbar {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(74,12,136);
    background: linear-gradient(90deg, rgba(74,12,136,1) 0%, rgba(25,87,198,1) 50%, rgba(47,183,222,1) 100%);
    color: white;
    z-index: 9999;
}

.topbar p {
    text-align: center;
    line-height: 55px;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 70px auto;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.31);
    -webkit-box-shadow: 1px 13px 19px 1px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 13px 19px 1px rgba(0,0,0,0.31);
}

.twitter {
    width: 200px;
    height: 200px;
    background-image: url(img/ribbon.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: -22px;
    right: -28px;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 30px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 22px;
    margin-right: 12px;
}

.header ul li a {
    text-decoration: none;
    color: inherit;
}

.header ul li a:hover{
    color: salmon;
    font-weight: 600;
}

.hero {
    height: 400px;
    background-image: url(img/kari-shea-1SAnrIxw5OY-unsplash.jpg);
    background-size: cover;
    background-position: 0 -115px;
    border-top: solid 3px salmon;
    border-bottom: solid 3px salmon;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 20px;
    font-weight: bold;
}
.main .penulis {
    font-size: 12px;
    margin-top: -5px;
    text-indent: 0;
    font-weight: normal;
}

.main a {
    color: salmon;
    text-decoration: none;
}

.main p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    text-indent: 24px;
    font-weight: 500;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 14px;
    box-sizing: border-box;
    margin-top: 6px;
}

.sidebar h3 {
    font-size: 15px;
    font-weight: bold;
}

.sidebar p {
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    font-weight: 500;
}

.footer {
    background-color: rgb(90, 90, 90);
}

.footer .copy {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    font-weight: normal;
}

/* menggunakan micro clearfix */

.cf:before,
.cf:after {
content: " "; 
display: table; 
}

.cf:after {
clear: both;
}

.cf {
zoom: 1;
}